// set variables for reuse throughout stylesheet
$test-color: red;
$test-color2: green;
$primary-color: #5B89AE;
$secondary-color: #D3BC96;
$main-font-color: lightgray;
$primary-background: #7C4066;
$sunset-orange: #F0B945;
$dark-pink-mountans: #B46D73;

// basic reset recommended by Matt E
* {
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

// define wrapper as a grid to organise overall page layout
#wrapper-home {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 40vh 45vh 15vh;
    grid-template-areas:
        "header"    
        "nav"
        "footer"
    ;
}

#wrapper-contact {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 30vh 5vh 55vh 10vh;
    grid-template-areas:
        "header"    
        "nav"
        "main"
        "footer"
    ;
}

// set header as a flex container to vertically stack header elements
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: header;
    height: 40vh;
}

#header-contact {
    height: 30vh;
}

#hero-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#jj-photo {
    width: 20vh;
    border-radius: 50%;
}

#jj-photo-contact {
    width: 15vh;
    border-radius: 50%;
}

h1 {
    font-size: 2.55rem;
    margin: 0.75rem;
}

#heading-contact {
    font-size: 2rem;
}

#intro {
    width: 50vw;
    text-align: center;
    font-size: 1rem;
}

// make nav a flex container to easily centre navigational links
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: nav;
    background: $primary-background;
}

// set margins around navigational links for better readability
// doesn't apply to index.html overwritten by .nav-home-item styling below
nav > a {
    font-weight: bold;
    color: gray;
    padding: 1rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-contact-item {
    color: $main-font-color;
    padding: 0 0.8rem;
}

#nav-home-pg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 1rem 0;
}

#nav-contact-pg, #nav-about-pg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: black;
}

.nav-home-item {
    min-height: 20%;
    width: 60%;
    border: 0;
    border-radius: 3%;
    font-size: 1.25rem;
    background: black;
    padding-top: 1.2rem;
    margin: 0.5rem;
}

.nav-contact-item {
    // width: 60%;
    border: 0;
    font-size: 0.8rem;
}

#main-about {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 50vw;
    padding: 1rem;
    color: $main-font-color;
    background: $primary-background;
}

#main-contact {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: $main-font-color;
    background: $primary-background;
}

main > p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#email {
    font-size: 1.8rem;
}

#email:visited {
    color: #B46D73;
}

#contact-form {
    width: 80%;
}

#contact-form > p {
    height: 2rem;
}


// set width to 100% of parent container and align text centrally
.post {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "image title"
        "image published"
        "image blurb"
    ;
    background: $secondary-color;
    padding: 1rem;
}

.post:nth-child(odd) {
    background: $primary-color;
}

.blog-images {
    max-width: 40vw;
    border-radius: 5%;
    grid-area: image;
    margin-left: 1rem;
    margin-right: 1rem;
}

.blog-title {
    grid-area: title;
}

.blog-published {
    font-style: italic;
}

.blog-blurb {
    grid-area: blurb;
}

#blog-link {
    text-align: center;
    font-weight: bold;
    background: $secondary-color;
    padding: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    background: $primary-background;
    padding: 1rem;
}

#socials {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

#socials-contact {
    margin-top: 1rem;
}

.social-logo-contact {
    width: 10vh;
}

.social-logo {
    width: 7vh;
}

#copyright {
    margin-top: 1rem;
    font-weight: bold;
}

// media query for extremely narrow mobile
@media only screen and (max-width: 296px) {
    h1 {
        font-size: 1.5rem;
    }

    #intro {
        font-size: 0.85rem;
    }

    #socials {
        width: 50%;
    }
}


// media queries for tablet viewport sizes
@media only screen and (min-width: 550px) {
    #intro {
        font-size: 1.35rem;
    }

    #nav-home-pg {
        width: 100vw;
        display: grid;
        grid-template-rows: 45% 45%;
        grid-template-columns: 1fr 1fr;
        row-gap: 5vh;
        column-gap: 10vw;
        justify-items: center;
        padding: 10%;
        margin: 0 auto;
    }

    .nav-home-item {
        width: 100%;
        height: 100%;
        font-size: 2rem;
    }

    #socials {
        display: flex;
        justify-content: space-around;
        width: 30%;
    }
}

// intermediate breakpoint large tablet/small desktop
@media only screen and (min-width: 800px) {
    #nav-home-pg {
        width: 100vw;
        display: grid;
        grid-template-rows: 45% 45%;
        grid-template-columns: 1fr 1fr;
        padding: 5% 10%;
    }

    #socials {
        display: flex;
        justify-content: space-around;
        width: 20%;
    }
}

// media query for desktop screens
@media only screen and (min-width: 1100px) {
    #wrapper {
        grid-template-rows: 35vh 50vh 15vh;
    }
    
    header {
        height: 35vh;
    }

    #jj-photo {
        width: 18vh;
    }

    #nav-home-pg {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "about space1 portfolio space2"
            "space3 blog space4 contact"
        ;
        column-gap: 1vw;
        row-gap: 1vw;
        padding: 2.5% 5%;
        // border: 3px solid red;
    }

    .nav-home-item {
        width: 100%;
        height: 100%;
    }

    #nav-about-link {
        grid-area: about;
    }

    #nav-portfolio-link {
        grid-area: portfolio;
    }

    #nav-blog-link {
        grid-area: blog;
    }

    #nav-contact-link {
        grid-area: contact;
    }

    #socials {
        display: flex;
        justify-content: space-between;
        width: 18vh;
    }

    footer {
        background: $dark-pink-mountans;
    }
}
