* {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

#wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 6fr 8fr 3fr;
  grid-template-areas: "header" "nav" "footer";
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: header;
  min-height: 70vw;
}

#hero-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#jj-photo {
  width: 30vw;
  border-radius: 50%;
}

#name {
  font-size: 2.55rem;
  margin: 0.75rem;
}

#intro {
  width: 50vw;
  text-align: center;
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: nav;
  min-height: 2.5rem;
  background: #7C4066;
}

nav > a {
  font-weight: bold;
  color: gray;
  padding: 1rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}

.nav-home-item {
  min-height: 20%;
  width: 60%;
  border: 0;
  border-radius: 3%;
  font-size: 1.25rem;
  background: black;
  padding-top: 1.2rem;
  margin: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 50vw;
  padding: 1rem;
  color: white;
  background: #7C4066;
}

main > p {
  margin-top: 1rem;
  text-align: center;
}

.post {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "image title" "image published" "image blurb";
  background: #D3BC96;
  padding: 1rem;
}

.post:nth-child(odd) {
  background: #5B89AE;
}

.blog-images {
  max-width: 40vw;
  border-radius: 5%;
  grid-area: image;
  margin-left: 1rem;
  margin-right: 1rem;
}

.blog-title {
  grid-area: title;
}

.blog-published {
  font-style: italic;
}

.blog-blurb {
  grid-area: blurb;
}

#blog-link {
  text-align: center;
  font-weight: bold;
  background: #D3BC96;
  padding: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: footer;
  background: #7C4066;
  padding: 1rem;
}

#socials {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.social-logo {
  width: 15vw;
}

#copyright {
  margin-top: 1rem;
  font-weight: bold;
}

@media only screen and (min-width: 550px) {
  #intro {
    font-size: 1.35rem;
  }
  #nav-home {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5vw;
    -moz-column-gap: 10vw;
         column-gap: 10vw;
    justify-items: center;
    padding: 10%;
    margin: 0 auto;
  }
  .nav-home-item {
    width: 30vw;
    height: 30vw;
    font-size: 2rem;
    padding-top: 12vw;
  }
}
@media only screen and (min-width: 650px) {
  header {
    max-height: 30vw;
  }
  nav {
    height: 60vw;
    grid-template-rows: 1fr 1fr;
  }
  .nav-home-item {
    font-size: 2.25rem;
  }
}/*# sourceMappingURL=style.css.map */